<!DOCTYPE html>
<html>
<head>
<title>{{ data.question }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {margin: 0; padding: 0; font-size: 100%; line-height: 1.5}
h1, h2, h3, h4 {margin: 1em 0 .5em; line-height: 1.25}
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.2em}
ul, ol {margin: 1em 0; padding-left: 40px}
p, figure {margin: 1em 0}
a img {border: none}
sup, sub {line-height: 0}
p {
  font-family: font-family: 'Roboto', sans-serif;
}
</style>
</head>
<body>
<h1>{{ data.question }}</h1>
<h2>{{ 'Essen 1' }}</h2>
<h3>{{ data.essen_1 }}</h3>
<form action="/poll">
  {% for e in data.like %}
     <input type="radio" name="field_essen_1" value="{{ e }}"> {{ e }}<br>
  {% endfor %}
  <input type="submit" value="Vote" />
</form>

<h2>{{ 'Essen 2' }}</h2>
<h3>{{ data.essen_2 }}</h3>
<form action="/poll">
  {% for e in data.like %}
     <input type="radio" name="field_essen_2" value="{{ e }}"> {{ e }}<br>
  {% endfor %}
  <input type="submit" value="Vote" />
</form>

</body>
</html>
